$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

// palette: http://www.colourlovers.com/palette/292482/Terra
$body-bg: #031634;
$body-color: #E9DDCB;
$link-color: #E3E178;// #CDB380;
$btn-bg: #036564;
$btn-color: $body-color;
$secondary-bg: #033649;

$waycolor: $link-color;
$text_background: $body-bg; // can be btn-bg

